@import "./index.scss";
.Header {
  height: 150px;
  background-color: $pri;
  background-image: url("./images/bg-header-desktop.svg");
  position: relative;
  .Input {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 50%);
    background: white;
    box-shadow: 0 0 18px -2px #5b9898;
    border-radius: 3px;
  }
}
.Cont {
   padding: 30px;
  .Item {
    transition: .5s;
    cursor: pointer;

    &:hover {
        transform: scale(.96);
        transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    margin: 18px 0;
    display: grid;
    grid-template-columns: 80px 1fr 1fr;
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 18px -2px #5b989842;

    gap: 10px;
    .__top {
      display: flex;
      font-size: 10px;
      gap: 10px;
      & > div {
        margin: auto 0;
      }
      .comp {
        color: $pri;
      }
      .new {
        background: $pri;
        color: white;
        padding: 3px 5px;
        text-transform: uppercase;
        height: 10px;
        border-radius: 10px;
      }
      .featured {
        background: black;
        color: white;
        padding: 3px 5px;
        text-transform: uppercase;
        height: 10px;
        border-radius: 10px;
      }
    }
    h3 {
      margin: 8px 0;
    }
    ._bo {
      span {
        color: gray;
        font-size: 10px;
      }
      span ~ span {
        &::before {
          content: "·";
          font-size: 15px;
          margin: 0 8px;
        }
      }
    }
    .toolsAndLang{
        margin: auto 0;
        display: flex;
        gap: 10px;
        span{
            background: $LightGrayishCyanFlTable;
            color: $pri;
            font-size: 10px;
            padding: 3px 5px;
            height: 10px;
            font-weight: 800;
        }
    }
    ._img {
      display: flex;
      img {
        width: 70px;
        margin: auto;
      }
    }
  }
}
